.p-sidebar-content::-webkit-scrollbar {
    width: 0px !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 10px !important;
}

.typewriter {
    font-size: 26px;
    font-weight: 700;
    color: #38bdf8;
}


.hero-right img {
    /* border-radius: 1000px; */
    box-shadow: 0px 0px 32px 0px rgba(14, 165, 233, 1);
    -webkit-box-shadow: 0px 0px 32px 0px rgba(14, 165, 233, 1);
    -moz-box-shadow: 0px 0px 32px 0px rgba(14, 165, 233, 1);
}

/* DARKMODE TOGGLE */
/* The switch - the box around the slider */
.switch-container {
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 1.8em;
}

/* Hide default HTML checkbox */
.switch-container input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.switch-container .slider {
    /* --background: linear-gradient(to right, #090613ef, #18151f); */
    /* --background: linear-gradient(to right, #f1f1f1ef, #18151f); */
    background-color: lightgray !important;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--background);
    transition: background-color 0.5s;
    border-radius: 30px;
}

.switch-container .slider:before {
    position: absolute;
    content: "";
    height: 1.3em;
    width: 1.3em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 15px -4px 0px 15px #f8ea27;
    background: var(--background);
    transition: transform 0.5s, box-shadow 0.5s;
}

.switch-container input:checked+.slider {
    background-color: #000;
}

.switch-container input:checked+.slider:before {
    transform: translateX(100%);
    box-shadow: inset 8px -4px 0px 0px #f8f8f4;
}

.hero-left h1 {
    font-size: clamp(30px, 7vw, 50px);
}

.hero-left p,
.typewriter {
    font-size: clamp(18px, 5vw, 28px);
}


.hero-section img {
    width: 400px;
    height: 400px;
    border-radius: 1000px;

}

.hero-right {
    display: flex;
    align-items: center;
}


@media (min-width:768px) and (max-width:1023px) {
    .hero-section {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 80px;
    }

    .hero-section img {
        width: 400px;
        height: 400px;
        /* margin-bottom: 100px; */
    }

    .modal-content {
        width: 550px;
        height: 600px;
    }

    .modal-img img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;

    }
}

@media (max-width:667px) {
    .hero-section {
        display: flex;
        flex-direction: column-reverse;
        margin-top: -30px;
    }

    .section {
        min-height: 100svh;
    }

    .hero-section img {
        width: 250px;
        height: 250px;
        margin-top: 100px;
    }

    .modal-content {
        width: 550px;
        height: 320px;
    }

}


@media (min-width:1024px) {
    .hero-section {
        margin-top: -170px;
        /* height: 100vh; */
        min-height: 1000px;
    }

    .modal-content {
        width: 700px;
        height: 700px;
    }

    .modal-img img {
        max-height: 350px;
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width:375px) {
    .hero-section {
        margin-top: -30px;
    }

    .modal-content {
        width: 350px;
        height: 600px;
    }

    .modal-img img {
        max-height: 200px;
        width: 100%;
        object-fit: cover;
    }
}

.navbar {
    position: absolute;
    left: 0;
    transition: left 0.3s ease-in-out;
}

.navbar-inactive {
    left: -400px;
    transition: right 0.3s ease-in-out;

}

.fade-in-text {
    opacity: 0;
    padding-right: 50px;
    transition: opacity .2s ease-in-out;
}

.fade-in-text.show {
    opacity: 1;
    padding-right: 0px;
    transition: opacity 1.5s ease-in-out;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.project-cards>div:nth-child(1) {
    --animate-duration: .8s;

}

.project-cards>div:nth-child(2) {
    --animate-duration: 1s;

}

.project-cards>div:nth-child(3) {
    --animate-duration: 1.2s;

}

.project-cards>div:nth-child(4) {
    --animate-duration: 1.4s;

}

.project-cards>div:nth-child(5) {
    --animate-duration: .8s;

}

.project-cards>div:nth-child(6) {
    --animate-duration: 1s;


}

.project-cards>div:nth-child(7) {
    --animate-duration: 1.2s;


}

.project-cards>div:nth-child(8) {
    --animate-duration: 1.4s;

}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.modal-overlay.active {
    display: flex;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: scroll;

}


.modal-open {
    overflow: hidden;
}
    
.modal-img img {
    height: 500px;
    object-fit: cover;
}